*{
  margin: 0;
}
.container{
  position: relative;
  margin: auto;
  width: 1300px;

}

.container-img{
  width: 1200px;
  margin: auto;
}
img{
  height: auto;
  width: 100%;
  display: none;
  margin: auto;
}
.active{
  display: inline-block;
  animation-name: appari;
  animation-timing-function:ease-in-out;
  animation-duration: .6s;
  animation-direction: alternate;
}
@keyframes appari {
  0% {opacity: 0};
  100% {opacity: 100%}
}

.btn{
  position: absolute;
  top: 50%;
  height: 15px;
  width: 15px;
  background: red;
  opacity: 0.6;
  border-radius: 3px;
}
.container-slider .prev{
  left: 0%;
}
.container-slider .next{
  right: 0;
}

.container-slider .next:hover ,.container-slider .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.bullets{
  width: 100px;
  margin:auto;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bullets span{
  height: 10px;
  width: 10px;
  border: solid 1px red;
  border-radius: 50%;
}
.bullets span.active{
  border: solid 1px red;
  background: red;
}







/*  */
